jupyter-bokeh
jupyter-lsp
jupyter-resource-usage
jupyter-server
jupyter-server-mathjax
jupyter-server-proxy
jupyter_client
jupyter_core
jupyterlab
jupyterlab-git
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
awscli